LDAP_ADMIN_HTTP_ADDRESS=:8080
LDAP_ADMIN_LDAP_URL=ldap://localhost:389
LDAP_ADMIN_LDAP_BIND_DN=cn=admin,dc=example,dc=com
LDAP_ADMIN_LDAP_BIND_PASSWORD=admin
LDAP_ADMIN_LDAP_BASE_DN=dc=example,dc=com
LDAP_ADMIN_ADMINS_GROUP=admins
LDAP_ADMIN_SESSION_TTL=8h
